<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: mainHead('Register Your Business')">
</head>
<body>
<header>
    <nav th:replace="fragments/navbar :: mainNavbar"></nav>
</header>

<div class="container">
    <div class="normalize-page-margins">
        <h2 class="text-center space-bottom">All Job Listings</h2>
        <form class="form-horizontal" action="/businesses/search">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <input type="text" name="searchKeyword" class="form-control" placeholder="Search"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        <div class="row">
        <th:block th:each="listing, i : ${listings}">
        <th:block th:if="${i.index % 3 == 0}" th:utext="'&lt;div class=&quot;row&quot;&gt;'"/>
        <div class="col-xs-4">
        <h2 th:text="${listing.title}"></h2>
        <h2 th:text="${listing.description}"></h2>
        </div>
        <th:block th:if="${i.index % 3 == 2 || i.count == i.size}" />
        </th:block>
        </div>
        <div class="row">
            <th:block th:each="i : ${#numbers.sequence(1, 20)}">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img class="fill-parent business-img"
                             src="https://source.unsplash.com/300x275/?work?"
                             alt="..." />
                        <div class="caption">


                            <th:block th:each="listing, i : ${listings}">
                            <th:block th:if="${i.index % 3 == 0}"/>
                            <div class="row">
                            <div class="col-xs-12 col-md-3">
                            <a th:href="@{'/listings/single/' + ${listing.id}}">
                            <h2 th:text="${listing.title}"></h2>
                            </a>
                            <p th:text="${listing.description}"></p>
                            <p th:text="${listing.business.businessName}"></p>
                            </div>
                            </div>
                            <th:block th:if="${i.index % 3 == 2 || i.count == i.size}"/>
                            </th:block>
                            <button class="btn btn-primary btn-success" role="button">explore</button>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
<!-- remember to bring in jquery scripts through fragments -->

</body>
</html>