<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>

<nav class="navbar fixed-top navbar-inverse" th:fragment="mainNavbar">
    <a class="navbar-brand" href="/">sidework</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav xs-auto">
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-center">
                    <li><a th:href="@{/workers/index}">workers</a></li>
                    <li><a th:href="@{/businesses/index}">businesses</a></li>
                </ul>
                <ul class="nav navbar-nav emphasis">

<!-- NEED TO FIX BUSINESS PROFILE PAGE LINK -->
                    <li sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/businesses/profile}" th:text="${#authentication.principal.username}"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/workers/profile/}" th:text="${#authentication.principal.username}"></a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="!isAuthenticated()">
                        <a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" style="margin-top: 8px"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout</button>
                        </form>
                    </li>
                </ul>
             </div><!-- navbar-collapse -->
        </ul>
    </div> <!-- container -->
</nav>

</body>
</html>