<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>TEMPORARY DASHBOARD</title>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>


<!--container-->
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br/><br/>
            <h1 class="center-align">your sidework</h1>
            <p class="center-align">keep tabs on all upcoming and past covered shifts </p>
        </div>
    </div>
</div> <!--container-->

</body>
</html>