<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: mainHead('Sidework')"></head>
<body class="showcase">
<div class="showcase-overlay"></div>
<video autoplay="autoplay" loop="loop" class="fillWidth" id="otherVideo">
    <source src="img/restaurantguys.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
</video>


<div class="container landing-cover-container">
    <div role="main" class="inner cover">
        <div class="section center-align">
            <a href="/" class="sidework-link"><span class="col-xs-12">Sidework</span></a>
            <div class="center-splash-links container-fluid">
                <div class="row">
                    <div class="index-link col-sm-6">
                        <div class="splash-box center-block">
                            <h3>businesses</h3>
                            <span class="button-color glyphicon glyphicon-calendar splash-icon" aria-hidden="true"></span>
                            <a href="/businesses/create" class="btn btn-lg btn-success btn-block splash-link">get shifts covered</a>
                            <!--<a href="/howitworks" class="btn btn-lg btn-success btn-block splash-link">get shifts covered</a>-->
                        </div>
                    </div>
                    <div class="index-link col-sm-6 container-fluid">
                        <div class="splash-box center-block">
                            <h3>job seekers</h3>
                            <span class="glyphicon glyphicon-piggy-bank splash-icon" aria-hidden="true"></span>
                            <a href="/workers/create" class="btn btn-lg btn-success btn-block splash-link">pick up shifts</a>
                            <!--<a href="/howitworks" class="btn btn-lg btn-success btn-block splash-link">pick up shifts</a>-->
                        </div>
                    </div>
                </div>
            </div><!-- splash link boxes -->
        </div>
    </div><!-- inner cover -->
</div> <!-- container -->

</body>
</html>