<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head:: mainHead('How It Works')"></head>

<body>
<nav class="navbar navbar-default" th:replace="fragments/navbar :: mainNavbar"></nav>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <h1 class="text-center">how it works</h1>
            <br />

            <div class="col-md-4">
                <h2 class="text-center">flexibility</h2>
                <p>Make your own schedule! Those looking to get hired can pick up as many shifts as they want without
                    running into overtime limits. </p>

                <p>Restaurant owners and managers will be able to adjust shifts as needed. Sidework will help them
                    manage full-time workers during slow business periods and last-minute hires whenever the holidays
                    come around.
                </p>
            </div>

            <div class="col-md-4">
                <h2 class="text-center">convenience</h2>
                <p>sidework brings the power to the people. Search for long-term job opportunities or make some quick
                    cash by covering a restaurant who needs a worker immediately.</p>

                <p>Managers will now have a platform to connect directly to potential employees without having to spend
                    money posting on other advertising platforms. This allows managers the opportunity to advertise on
                    their own schedules.</p>
            </div>

            <div class="col-md-4">
                <h2 class="text-center">expand your profile</h2>
                <p>Workers can partake in a broad range of experiences in techniques and practices at different venues
                    and connect with people in the industry who can help them develop and expand their career.</p>

                <p>managers can even recruit some of the untapped talent that they might have never known they
                    needed!</p>
            </div>
        </div>

        <br/>

        <p class="text-center"><a class="btn btn-success btn-lg margin-none" href="http://sidework-sa.com/workers/create" role="button">create a profile to pick up shifts</a> or <a class="btn btn-success btn-lg margin-none" href="http://sidework-sa.com/businesses/create" role="button">register your business to post job listings</a></p>
    </div><!--Jumbotron-->

    <h1 class="text-center">why use sidework?</h1>
    <br/>
    <p class="text-center">On an even larger scale, this could be one of the keys to alleviating the escalating labor
        crisis in any service-based industry across the nation. According to the 2015 economic impact study for tourism
        and hospitality, results showed record growth for San Antonio. Hospitality and tourism growth rose from $9.3
        billion to $13.6 billion, a substantial increase of 50% for the city's economy. As of 2015 these fields employ
        more than 120,000, quadrupling in size since 1990.</p>

    <br/>

    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<h1 class="text-center">Features</h1>-->
    <!--<p class="text-center">Here are a list of current and future features</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--<br/>-->

    <!--<br/>-->

    <!--<div class="row">-->
    <!--<div class="col-xs-12 col-md-6">-->
    <!--<div class="list-group">-->
    <!--<button type="button" class="list-group-item">Cras justo odio</button>-->
    <!--<button type="button" class="list-group-item">Dapibus ac facilisis in</button>-->
    <!--<button type="button" class="list-group-item">Morbi leo risus</button>-->
    <!--<button type="button" class="list-group-item">Porta ac consectetur ac</button>-->
    <!--<button type="button" class="list-group-item">Vestibulum at eros</button>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="col-xs-12 col-md-6">-->
    <!--<div class="list-group">-->
    <!--<button type="button" class="list-group-item">Cras justo odio</button>-->
    <!--<button type="button" class="list-group-item">Dapibus ac facilisis in</button>-->
    <!--<button type="button" class="list-group-item">Morbi leo risus</button>-->
    <!--<button type="button" class="list-group-item">Porta ac consectetur ac</button>-->
    <!--<button type="button" class="list-group-item">Vestibulum at eros</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">connect</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail border-none">
                <img src="http://lorempixel.com/242/200" alt="Mary"/>
                <div class="caption">
                    <h3 class="text-center">Username</h3>
                    <h4 class="text-center">Position</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur dignissimos distinctio
                        dolores eum, facilis incidunt, inventore labore laboriosam odio officiis optio quaerat quia
                        quidem sapiente sequi similique, temporibus unde?</p>

                    <p><a href="https://linkedin.com/in/marykathrynsyms" class="btn btn-default"
                          role="button">Github</a> <a href="https://github.com/tacobody" class="btn btn-default"
                                                      role="button">Linkedin</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail border-none">
                <img src="http://lorempixel.com/242/200" alt="greg"/>

                <div class="caption">
                    <h3 class="text-center">Username</h3>
                    <h4 class="text-center">Position</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur dignissimos distinctio
                        dolores eum, facilis incidunt, inventore labore laboriosam odio officiis optio quaerat quia
                        quidem sapiente sequi similique, temporibus unde?</p>

                    <p><a href="https://github.com/GregSchmitt" class="btn btn-default" role="button">Github</a> <a
                            href="linkedin.com/in/gregschmitt" class="btn btn-default" role="button">Linkedin</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail border-none">
                <img src="http://lorempixel.com/242/200" alt="michael"/>
                <div class="caption">
                    <h3 class="text-center">Username</h3>
                    <h4 class="text-center">Position</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur dignissimos distinctio
                        dolores eum, facilis incidunt, inventore labore laboriosam odio officiis optio quaerat quia
                        quidem sapiente sequi similique, temporibus unde?</p>

                    <p><a href="https://github.com/MicCabeza22" class="btn btn-default" role="button">Github</a> <a
                            href="#" class="btn btn-default" role="button">Linkedin</a></p>
                </div>
            </div>
        </div>
    </div><!-- end of picture row-->

    <br/>

    <br/>

    <br/>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>