<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: mainHead('edit your profile')"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: mainNavbar"></nav>
</header>

<div class="container">
    <div class="normalize-page-margins">
        <h1 class="text-right title-emphasis">edit your profile</h1>

        <br/>
        <div class="form-wrapper">
            <!--Display the form for editing an existing business's profile-->
            <form
                    th:action="@{/businesses/edit/{id}(id=${user.id})}"
                    method="post" th:object="${user}">

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="username">username</label>
                    <input id="username" name="username" th:field="*{username}" class="form-control" type="text" />
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="email">email</label>
                    <input id="email" name="email" th:field="*{email}" class="form-control" type="email" />
                </div>

                <!--<div class="col-sm-12 col-md-6 form-group">-->
                    <!--<label for="password">password</label>-->
                    <!--<input id="password" name="password" th:field="*{password}"  class="form-control" type="password" />-->
                <!--</div>-->

                <!--<div class="col-sm-12 col-md-6 form-group">-->
                    <!--<label for="confirm_password">confirm password</label>-->
                    <!--<input id="confirm_password" name="confirm_password" class="form-control" type="password" />-->
                <!--</div>-->

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="business_name">business name</label>
                    <input id="business_name" name="businessName" th:field="${business.businessName}" class="form-control"
                           type="text" />
                </div>


                <div class="col-sm-12 col-md-6 form-group">
                    <label for="business_address">address</label>
                    <input id="business_address" name="address" th:field="${business.address}" class="form-control"
                           type="text" />
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="business_phone_number">business phone number</label>
                    <input id="business_phone_number" name="businessPhone" th:field="${business.businessPhone}"
                           class="form-control" type="tel" />
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="website">website</label>
                    <input id="website" name="website" th:field="${business.website}" class="form-control"
                           type="text"/>
                </div>

                <div class="col-sm-12 form-group">
                    <label for="info">info</label>
                    <textarea id="info" name="businessInfo" th:field="${business.businessInfo}" class="form-control" type="textarea" rows="3" placeholder="Inform others about your business"></textarea>
                </div>


                <br/>
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-block btn-success" value="update profile" />
                </div>
            </form>
        </div> <!-- form wrapper -->

    </div> <!-- normalize page margins -->
</div> <!-- container -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts">
    <!-- remember to bring in jquery scripts through fragments -->
</div>
</body>
</html>