<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: mainHead('your profile')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<div class="container">
    <div class="normalize-page-margins">
        <h3 class="sidework-username text-center space-bottom" th:text="${user.username}"></h3>
        <div class="row">

            <!--business profile img -->
            <div class="col-sm-12 col-md-6 text-right">
                <img src="https://source.unsplash.com/300x275/?business?" alt="a business" class="thumbnail img-full-width" />
            </div><!-- Business profile img row -->

            <!-- business information row -->
            <div class="col-sm-12 col-md-6">
                <!-- info panel -->
                <div class="panel panel-success space-bottom">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span th:text="${business.businessName}"></span></h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group business-info-list">
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-home btn-lg" aria-hidden="true"></span>
                                <span th:text="${business.website}"></span>
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-earphone btn-lg" aria-hidden="true"></span>
                                <span th:text="${business.businessPhone}"></span>
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-envelope btn-lg" aria-hidden="true"></span>
                                <span th:text="${user.email}"></span>
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-list-alt btn-lg" aria-hidden="true"></span>
                                <span th:text="${business.businessInfo}"></span>
                            </li>
                        </ul>
                    </div>
                </div><!-- info panel -->



                <!-- unable to display all listings associated with business account-->
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Job Listings</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group business-info-list">
                            <th:block th:each="listing : ${listings}">

                                <li class="job-listing-link">
                                   <span th:text="${listing.getTitle()}">title test </span>
                                    <p th:text="${listing.getDescription()}">description test</p>
                                </li>
                            </th:block>
                            <li class="btn btn-warning btn-block">
                                <a class="btn-warning job-listing-link panel-title" th:href="@{/listings/create}">+ Post Job Listing</a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- listings panel -->

                <!--<div class="panel panel-warning space-bottom">-->
                    <!--<div class="panel-heading">-->
                        <!--<h3 class="panel-title">Job Listings</h3>-->
                    <!--</div>-->
                    <!--<div class="container" th:each="listing : ${listings}">-->
                        <!--<div class="row">-->
                            <!--<div class="col s8 offset-s2">-->
                                <!--<h1 th:text="${listing.title}"></h1>-->
                                <!--<p th:text="${listing.description}"><description/p>-->
                            <!--</div>-->
                        <!--</div>-->
                            <!--<div class="btn btn-warning btn-block">-->
                                <!--<a class="btn-warning job-listing-link panel-title" th:href="@{/listings/create}">Add new listing</a>-->
                            <!--</div>-->
                    <!--</div>-->
                <!--</div> &lt;!&ndash; listings panel &ndash;&gt;-->

            </div>
        </div> <!-- business information row -->

    </div> <!-- normalize page margins -->
</div> <!-- container -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>

