<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: mainHead('your profile')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<div class="container">
    <div class="normalize-page-margins">
        <h1 class="text-center space-bottom" th:text="${business.businessName}"></h1>
        <div class="row">

            <!--business profile img -->
            <div class="col-sm-12 col-md-6 text-right">
                <img src="https://source.unsplash.com/300x275/?business?" alt="a business" class="thumbnail img-full-width" />
            </div><!-- Business profile img row -->

            <!-- business information row -->
            <div class="col-sm-12 col-md-6">
                <!-- info panel -->
                <div class="panel panel-success space-bottom">
                    <div class="panel-heading">
                        <h3 class="panel-title">business info</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group business-info-list">
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-home btn-lg" aria-hidden="true"></span>
                                <span th:text="${business.website}"></span>
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-earphone btn-lg" aria-hidden="true"></span>
                                <span th:text="${business.businessPhone}"></span>
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-envelope btn-lg" aria-hidden="true"></span>
                                <span th:text="${user.email}"></span>
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-list-alt btn-lg" aria-hidden="true"></span>
                                <span th:text="${business.businessInfo}"></span>
                            </li>
                        </ul>
                    </div>
                </div><!-- info panel -->


                <div class="panel panel-warning space-bottom">
                    <div class="panel-heading">
                        <h3 class="panel-title">Job Listings</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group business-info-list">
                                <th:block th:each="listing : ${listings}">
                                <a th:href="@{'/listings/listing/' + ${listing.id}}" class="list-group-item">
                                <span th:text="${listing.title}"></span>
                                </a>
                                <p th:text="${listing.description}"></p>
                                </th:block>
                            <li class="btn btn-warning btn-block">
                                <a class="btn-warning job-listing-link panel-title" th:href="@{/listings/create}">Add new listing</a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- listings panel -->

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Update password</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="Update_Password">Update Password:</label>
                            <input id="Update_Password" name="Update_Password" class="form-control" type="password"/>
                        </div>
                        <div class="form-group">
                            <label for="Confirm_password">Confirm Password:</label>
                            <input id="Confirm_password" name="Confirm_password" class="form-control" type="password"/>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block" value="Log In">submit</button>
                        <button type="submit" class="btn btn-danger btn-block" value="Log In">deactivate account
                        </button>
                    </div>
                </div><!-- password panel -->
            </div>
        </div> <!-- business information row -->

    </div> <!-- normalize page margins -->
</div> <!-- container -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>

