<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: mainHead('create an account')"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: mainNavbar"></nav>
</header>

<div class="container">
    <div class="normalize-page-margins">
        <h1 class="text-right title-emphasis">register</h1>

        <br/>
        <div class="">
            <!--Display the form for creating a new worker-->
                <form th:action="@{/workers/create}" method="post" th:object="${worker}">
                        <label for="first_name">first name
                    <div class="col-xs-12 col-md-6 form-group">
                            <input id="first_name" th:value="*{firstName}" name="firstName" class="form-control" type="text" placeholder="Cameron"/>
                    </div>
                        </label>

                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                        <label for="last_name">last name</label>
                        <input id="last_name" th:value="*{lastName}" name="lastName" class="form-control" type="text" placeholder="Howe"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label for="username">username</label>
                        <input id="username" th:field="${user.username}" name="username" class="form-control" type="text" placeholder="myUsername123"/>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label for="email">email</label>
                        <input id="email" th:field="${user.email}" name="email" class="form-control" type="email" placeholder="user@email.com"/>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label for="password">password</label>
                        <input id="password" th:field="${user.password}" name="password" class="form-control" type="password" placeholder="superSecretPassword123"/>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label for="confirm_password">confirm password</label>
                        <input id="confirm_password" name="password_confirm" class="form-control" type="password" placeholder="superSecretPassword123"/>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label for="phone">phone</label>
                        <input id="phone" th:value="*{phone}" class="form-control" type="tel" placeholder="210-867-5309"/>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label for="skills">skills</label>
                        <textarea id="skills" name="skills" th:value="*{skills}" class="form-control" placeholder="List off your experience and job titles separated by commas. Include any accolades or anything you think we should know."></textarea>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label for="bio">bio</label>
                        <textarea id="bio" name="bio" th:value="*{bio}" class="form-control" placeholder="Tell us a little bit about yourself: who you are, where you're from, what your're about, etc."></textarea>
                    </div>

                    <br/>
                    <div class="col-sm-12">
                        <input type="submit" value="sign up" class="btn btn-success btn-block "/>
                    </div>
                </form>
        </div> <!-- form wrapper -->
    </div> <!-- normalize page margins -->
</div> <!-- container -->
<div th:replace="fragments/scripts :: scripts">
    <!-- remember to bring in jquery scripts through fragments -->
</div>
</body>
</html>