<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: mainHead('edit your profile')"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: mainNavbar"></nav>
</header>

<div class="container">
    <div class="normalize-page-margins">
        <h1 class="text-right title-emphasis">edit your profile</h1>

        <br/>
        <div class="form-wrapper">
            <!--Display the form for editing an existing worker's profile-->
            <form
                    th:action="@{/workers/edit/{id}(id=${user.id})}"
            method="post" th:object="${user}">

                <!--<input th:field="*(id)" type="hidden"/>-->

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="username">username</label>
                    <input id="username" name="username" th:field="*{username}" class="form-control" type="text" />
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="email">email</label>
                    <input id="email" name="email" th:field="*{email}" class="form-control" type="email" />
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="password">password</label>
                    <input id="password" name="password" th:field="*{password}"  class="form-control" type="password" />
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="confirm_password">confirm password</label>
                    <input id="confirm_password" name="password_confirm" class="form-control" type="password" />
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="first_name">first name</label>
                    <input id="first_name" name="firstName" th:field="${worker.firstName}" class="form-control" type="text" />
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                        <label for="last_name">last name</label>
                        <input id="last_name" name="lastName" th:field="${worker.lastName}"  class="form-control" type="text" />
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="phone">phone</label>
                    <input id="phone" name="phone" th:field="${worker.phone}" class="form-control" type="tel" />
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="skills">skills</label>
                    <textarea id="skills" name="skills" th:field="${worker.skills}" class="form-control"></textarea>
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                    <label for="bio">bio</label>
                    <textarea id="bio" name="bio" th:field="${worker.bio}" class="form-control"></textarea>
                </div>

                <br/>
                <div class="col-sm-12">
                        <input type="submit" class="btn btn-block btn-success" value="update profile" />
                </div>
            </form>
        </div> <!-- form wrapper -->

    </div> <!-- normalize page margins -->
</div> <!-- container -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts">
    <!-- remember to bring in jquery scripts through fragments -->
</div>
</body>
</html>